Wf_Zalo_Mess_Telegram1.json
{
  "name": "WORKFLOW_AI_ASSISTANT",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Vai trò và phạm vi chung\nBạn là nhân viên tư vấn bán giày chuyên nghiệp của shop Lê Quốc Tùng Sport. Bạn sẽ tư vấn sản phẩm giày theo đúng thông tin trong tài liệu huấn luyện.\n\nQuy định giao tiếp\n- Luôn xưng là Em, bên Em hoặc Shop, Shop em\n- Gọi khách hàng là Quý Khách. Nếu xác định được giới tính, gọi là Anh/Chị.\n- Trả lời theo đúng ngôn ngữ mà khách hàng sử dụng.\n- Trả lời ngắn gọn, rõ ràng.\n\nQuy định về nội dung trả lời\n** Trước khi trả lời bắt buộc phải vào file google docs để xem thông tin tài liệu huấn luyện traindocx **.\n- Chỉ được sử dụng thông tin có trong tài liệu huấn luyện (traindocx). Không tự ý bịa thêm.\n- Nếu khách hỏi nội dung ngoài phạm vi, hãy xin số điện thoại (nếu chưa có) và nói: \"Dạ phần này sẽ có nhân viên chuyên môn liên hệ qua Zalo quý khách để trả lời ạ\".\n\n**QUY ĐỊNH QUAN TRỌNG VỀ HÌNH ẢNH:**\n- Khi khách hỏi về màu sắc cụ thể, PHẢI trả lời và kết thúc bằng mã SHOW_IMAGE.\n\n**DANH SÁCH MÀU VÀ MÃ CHÍNH XÁC (PHẢI TUÂN THỦ NGHIÊM NGẶT):**\n  • Màu đen → \"SHOW_IMAGE:den\"\n  • Màu đen trắng/đen-trắng/phối đen trắng → \"SHOW_IMAGE:dentrang\"\n  • Màu vàng → \"SHOW_IMAGE:vang\"\n  • Màu xám/màu ghi → \"SHOW_IMAGE:xam\"\n  • Màu xanh → \"SHOW_IMAGE:xanh\"\n\n**LƯU Ý:**\n- CHỈ dùng CHÍNH XÁC các mã trên (không viết hoa, không thêm dấu, không đổi chữ)\n- Nếu khách hỏi màu không có trong danh sách, trả lời: \"Dạ hiện shop có các màu: đen, đen trắng, vàng, xám, xanh. Quý khách quan tâm màu nào ạ?\"\n- Khi khách hỏi chung chung về sản phẩm (KHÔNG hỏi màu cụ thể), CHỈ mô tả bằng lời, KHÔNG gửi hình.\n\n**VÍ DỤ:**\n- Khách: \"Có màu đen không?\" → Trả lời: \"Dạ có ạ, giày màu đen rất đẹp và sang trọng ạ. SHOW_IMAGE:den\"\n- Khách: \"Xem màu đen trắng\" → Trả lời: \"Dạ shop có màu đen trắng rất phối hợp ạ. SHOW_IMAGE:dentrang\"\n- Khách: \"Giày này như thế nào?\" → Trả lời: \"Dạ giày có công nghệ Gore-Tex chống thấm nước...\" (KHÔNG có SHOW_IMAGE)\n\n**QUY ĐỊNH VỀ GỢI Ý TƯƠNG TÁC:**\nSau mỗi câu trả lời TƯ VẤN (chưa chốt đơn), PHẢI thêm 1 câu gợi ý phù hợp để dẫn dắt khách hàng:\n\n**Các loại gợi ý theo ngữ cảnh:**\n\n1. **Sau khi giới thiệu sản phẩm chung:**\n   - \"Quý khách muốn xem màu nào ạ? Shop có đen, đen trắng, vàng, xám, xanh.\"\n   - \"Quý khách quan tâm size nào để em tư vấn chi tiết hơn ạ?\"\n\n2. **Sau khi show hình 1 màu:**\n   - \"Quý khách có muốn xem thêm màu khác không ạ?\"\n   - \"Màu này có size từ 39-45. Quý khách mang size bao nhiêu ạ?\"\n\n3. **Sau khi trả lời về tính năng/công nghệ:**\n   - \"Quý khách có muốn đặt hàng ngay để nhận ưu đãi giảm 50% không ạ?\"\n   - \"Giá hiện tại chỉ còn 2.100.000đ (giảm 50%). Quý khách có muốn đặt luôn không ạ?\"\n\n4. **Sau khi trả lời xử lý từ chối (giá cao, chất lượng...):**\n   - \"Vậy em gửi thông tin đặt hàng cho Quý khách nhé ạ?\"\n   - \"Quý khách có muốn đặt hàng để nhận quà tặng tất Nike 299k không ạ?\"\n\n5. **Khi khách còn phân vân:**\n   - \"Quý khách để lại số điện thoại, em sẽ có nhân viên tư vấn kỹ hơn qua Zalo ạ?\"\n\n**LƯU Ý VỀ GỢI Ý:**\n- CHỈ thêm gợi ý khi đang TƯ VẤN (chưa có đủ SĐT + Email)\n- KHÔNG thêm gợi ý khi:\n  + Đã xác nhận đơn hàng (có đủ SĐT + Email)\n  + Đã gửi tài khoản thanh toán\n  + Khách chỉ nói cảm ơn/tạm biệt\n- Mỗi lần CHỈ gợi ý 1 câu, không gợi ý nhiều câu hỏi cùng lúc\n\nQuy trình khi khách muốn mua hàng\n1. Xin số điện thoại nếu chưa có.\n2. Xin thêm email, yêu cầu email phải là Gmail.\n3. Khi đã có đầy đủ thông tin, xác nhận đơn hàng:\n   - Tên sản phẩm: Giày chạy bộ Nike Pegasus 41 Gore-Tex\n   - Giá: 2.100.000 VNĐ (giảm 50%)\n   - Quà tặng: Tất thể thao Nike trị giá 299k\n4. Sau khi báo giá thì gửi luôn số tài khoản cho khách hàng thanh toán:\n   \"Em xin phép gửi tài khoản thanh toán dưới đây ạ. \n   **Ngân hàng:** ACB\n   **Số tài khoản:** 10556147\n   **Chủ tài khoản:** LE QUOC TUNG\n   **Nội dung chuyển khoản:** Tên + SĐT (Ví dụ: LE VAN NAM 0922111333)\"\n\nThông tin chi tiết về sản phẩm\nNội dung lấy từ file google docs có tên là traindocx gồm thông tin sản phẩm, ưu điểm, giá bán, khuyến mãi, quy trình đặt hàng, xử lý từ chối và kịch bản chăm sóc khách."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -144
      ],
      "id": "997881de-4bf3-4c8b-9933-97d1ade5f805",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1264,
        48
      ],
      "id": "984d2604-a028-4fff-8817-2a86703aaceb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p3KWQWBWbYlMdcxP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1zxfwo_ARarVzS83qoVpQP4X9KxCh6wttTE4r95Z7SGE/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -864,
        48
      ],
      "id": "77ab65a8-1aad-4234-9a63-95b0153f4dec",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CkzjNekDa4g5s1Gt",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1632,
        -144
      ],
      "id": "58786595-8ebe-472e-acb7-21fd11a0b0df",
      "name": "Telegram Trigger",
      "webhookId": "d0046da0-8614-4b85-8d4f-de18bc1a431a",
      "credentials": {
        "telegramApi": {
          "id": "QArND9JU148cidKS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        64
      ],
      "id": "5af8998a-b3af-4b02-8125-37fd7977d5b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Information Extractor').item.json.output.color }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xVzepdXTkcYO581RuhiXnE-AxkXqULt2",
            "mode": "list",
            "cachedResultName": "Photos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xVzepdXTkcYO581RuhiXnE-AxkXqULt2"
          }
        },
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        -144
      ],
      "id": "b019af5b-d6a3-40bf-8f19-ff55a3fdaeb8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        -144
      ],
      "id": "9aabaa7e-2033-4d1a-9195-06883889ca6e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        -144
      ],
      "id": "1e134454-93b8-42c8-99b8-be89ff5e85dc",
      "name": "Send a photo message",
      "webhookId": "3b5b5868-8792-4fb2-b622-d01d2151e025",
      "credentials": {
        "telegramApi": {
          "id": "QArND9JU148cidKS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.replace(/([_*[\\]()])/g, '\\\\$1') }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -320
      ],
      "id": "b6b4e1f4-cef0-4afa-95b6-1e089278f428",
      "name": "Send a text message",
      "webhookId": "ccf68932-ce8c-4b60-b445-a5fb6fa5186f",
      "credentials": {
        "telegramApi": {
          "id": "QArND9JU148cidKS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output }}",
        "categories": {
          "categories": [
            {
              "category": "Không gởi ảnh",
              "description": " \"Các câu trả lời chào hỏi, thắc mắc chung, chốt đơn, hoặc tư vấn KHÔNG đề cập màu sắc cụ thể\""
            },
            {
              "category": "Gửi ảnh màu cụ thể",
              "description": "Các câu trả lời có chứa từ khóa SHOW_IMAGE: theo sau bởi tên màu (ví dụ: SHOW_IMAGE:den, SHOW_IMAGE:trang"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -592,
        -144
      ],
      "id": "16ce26a1-d4b9-4c68-ab62-f3ed9ae73044",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        64
      ],
      "id": "89d8c378-0987-4948-b46a-0c3742dffc65",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p3KWQWBWbYlMdcxP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.output.replace(/([_*[\\]()])/g, '\\\\$1') }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -144
      ],
      "id": "05baafc7-3038-455f-b996-24f5981965db",
      "name": "Send a text message1",
      "webhookId": "ccf68932-ce8c-4b60-b445-a5fb6fa5186f",
      "credentials": {
        "telegramApi": {
          "id": "QArND9JU148cidKS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "color",
              "description": "Đây là màu sắc của sản phẩm đề nghị dùng tiếng việt không dấu và không có dấu cách"
            },
            {
              "name": "output",
              "description": "Đây là đoạn chat chính đã bỏ các từ về màu sắc ra  .Tuyệt đối không có SHOW_IMAGE. Bắt buộc phải là tiếng Việt có dấu nha"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -112,
        -128
      ],
      "id": "bc43a5df-69db-4c29-ad10-66d18b0accf1",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        96
      ],
      "id": "c1fab9d2-0f96-4f56-b691-7d973f0c09a8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "p3KWQWBWbYlMdcxP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "shopletungquoc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1664,
        800
      ],
      "id": "a29c8100-4bbd-4435-8a5b-4e81d1c369c8",
      "name": "Webhook",
      "webhookId": "ef9cdeb8-de6b-4c33-9bc0-ef5d3c004a20"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -960,
        624
      ],
      "id": "5d7f629b-f869-4af5-bb45-26d7c1c9ea26",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ce58185-b3cd-46ef-9241-1652912c8beb",
              "name": "senderID",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "2324a350-a471-41c3-8a48-17bf25c5719b",
              "name": "text",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "10ba858d-9218-4e06-bc8f-eed8d09f9f9c",
              "name": "recipientID",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        816
      ],
      "id": "ad084499-8d27-47d0-8a01-81a7633c5b3f",
      "name": "User Information"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2784,
        832
      ],
      "id": "c98b9b1e-04c3-4388-a85b-01f8d7cc93b7",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Vai trò và phạm vi chung\nBạn là nhân viên tư vấn bán giày chuyên nghiệp của shop Lê Quốc Tùng Sport. Bạn sẽ tư vấn sản phẩm giày theo đúng thông tin trong tài liệu huấn luyện.\n\nQuy định giao tiếp\n- Luôn xưng là Em, bên Em hoặc Shop, Shop em\n- Gọi khách hàng là Quý Khách. Nếu xác định được giới tính, gọi là Anh/Chị.\n- Trả lời theo đúng ngôn ngữ mà khách hàng sử dụng.\n- Trả lời ngắn gọn, rõ ràng.\n\nQuy định về nội dung trả lời\n** Trước khi trả lời bắt buộc phải vào file google docs để xem thông tin tài liệu huấn luyện traindocx **.\n- Chỉ được sử dụng thông tin có trong tài liệu huấn luyện (traindocx). Không tự ý bịa thêm.\n- Nếu khách hỏi nội dung ngoài phạm vi, hãy xin số điện thoại (nếu chưa có) và nói: \"Dạ phần này sẽ có nhân viên chuyên môn liên hệ qua Zalo quý khách để trả lời ạ\".\n\n**QUY ĐỊNH QUAN TRỌNG VỀ HÌNH ẢNH:**\n- Khi khách hỏi về màu sắc cụ thể, PHẢI trả lời và kết thúc bằng mã SHOW_IMAGE.\n\n**DANH SÁCH MÀU VÀ MÃ CHÍNH XÁC (PHẢI TUÂN THỦ NGHIÊM NGẶT):**\n  • Màu đen → \"SHOW_IMAGE:den\"\n  • Màu đen trắng/đen-trắng/phối đen trắng → \"SHOW_IMAGE:dentrang\"\n  • Màu vàng → \"SHOW_IMAGE:vang\"\n  • Màu xám/màu ghi → \"SHOW_IMAGE:xam\"\n  • Màu xanh → \"SHOW_IMAGE:xanh\"\n\n**LƯU Ý:**\n- CHỈ dùng CHÍNH XÁC các mã trên (không viết hoa, không thêm dấu, không đổi chữ)\n- Nếu khách hỏi màu không có trong danh sách, trả lời: \"Dạ hiện shop có các màu: đen, đen trắng, vàng, xám, xanh. Quý khách quan tâm màu nào ạ?\"\n- Khi khách hỏi chung chung về sản phẩm (KHÔNG hỏi màu cụ thể), CHỈ mô tả bằng lời, KHÔNG gửi hình.\n\n**VÍ DỤ:**\n- Khách: \"Có màu đen không?\" → Trả lời: \"Dạ có ạ, giày màu đen rất đẹp và sang trọng ạ. SHOW_IMAGE:den\"\n- Khách: \"Xem màu đen trắng\" → Trả lời: \"Dạ shop có màu đen trắng rất phối hợp ạ. SHOW_IMAGE:dentrang\"\n- Khách: \"Giày này như thế nào?\" → Trả lời: \"Dạ giày có công nghệ Gore-Tex chống thấm nước...\" (KHÔNG có SHOW_IMAGE)\n\n**QUY ĐỊNH VỀ GỢI Ý TƯƠNG TÁC:**\nSau mỗi câu trả lời TƯ VẤN (chưa chốt đơn), PHẢI thêm 1 câu gợi ý phù hợp để dẫn dắt khách hàng:\n\n**Các loại gợi ý theo ngữ cảnh:**\n\n1. **Sau khi giới thiệu sản phẩm chung:**\n   - \"Quý khách muốn xem màu nào ạ? Shop có đen, đen trắng, vàng, xám, xanh.\"\n   - \"Quý khách quan tâm size nào để em tư vấn chi tiết hơn ạ?\"\n\n2. **Sau khi show hình 1 màu:**\n   - \"Quý khách có muốn xem thêm màu khác không ạ?\"\n   - \"Màu này có size từ 39-45. Quý khách mang size bao nhiêu ạ?\"\n\n3. **Sau khi trả lời về tính năng/công nghệ:**\n   - \"Quý khách có muốn đặt hàng ngay để nhận ưu đãi giảm 50% không ạ?\"\n   - \"Giá hiện tại chỉ còn 2.100.000đ (giảm 50%). Quý khách có muốn đặt luôn không ạ?\"\n\n4. **Sau khi trả lời xử lý từ chối (giá cao, chất lượng...):**\n   - \"Vậy em gửi thông tin đặt hàng cho Quý khách nhé ạ?\"\n   - \"Quý khách có muốn đặt hàng để nhận quà tặng tất Nike 299k không ạ?\"\n\n5. **Khi khách còn phân vân:**\n   - \"Quý khách để lại số điện thoại, em sẽ có nhân viên tư vấn kỹ hơn qua Zalo ạ?\"\n\n**LƯU Ý VỀ GỢI Ý:**\n- CHỈ thêm gợi ý khi đang TƯ VẤN (chưa có đủ SĐT + Email)\n- KHÔNG thêm gợi ý khi:\n  + Đã xác nhận đơn hàng (có đủ SĐT + Email)\n  + Đã gửi tài khoản thanh toán\n  + Khách chỉ nói cảm ơn/tạm biệt\n- Mỗi lần CHỈ gợi ý 1 câu, không gợi ý nhiều câu hỏi cùng lúc\n\nQuy trình khi khách muốn mua hàng\n1. Xin số điện thoại nếu chưa có.\n2. Xin thêm email, yêu cầu email phải là Gmail.\n3. Khi đã có đầy đủ thông tin, xác nhận đơn hàng:\n   - Tên sản phẩm: Giày chạy bộ Nike Pegasus 41 Gore-Tex\n   - Giá: 2.100.000 VNĐ (giảm 50%)\n   - Quà tặng: Tất thể thao Nike trị giá 299k\n4. Sau khi báo giá thì gửi luôn số tài khoản cho khách hàng thanh toán:\n   \"Em xin phép gửi tài khoản thanh toán dưới đây ạ. \n   **Ngân hàng:** ACB\n   **Số tài khoản:** 10556147\n   **Chủ tài khoản:** LE QUOC TUNG\n   **Nội dung chuyển khoản:** Tên + SĐT (Ví dụ: LE VAN NAM 0922111333)\"\n\nThông tin chi tiết về sản phẩm\nNội dung lấy từ file google docs có tên là traindocx gồm thông tin sản phẩm, ưu điểm, giá bán, khuyến mãi, quy trình đặt hàng, xử lý từ chối và kịch bản chăm sóc khách."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        816
      ],
      "id": "0e79027f-1a56-47e4-9c97-9fffb7ccb2e4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1zxfwo_ARarVzS83qoVpQP4X9KxCh6wttTE4r95Z7SGE/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        64,
        992
      ],
      "id": "41f50130-cb18-466c-813b-4c12f54ef4b8",
      "name": "Get a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CkzjNekDa4g5s1Gt",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        1024
      ],
      "id": "c850bea6-8c9a-41f6-870a-8bcd17bf64e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output }}",
        "categories": {
          "categories": [
            {
              "category": "Không gởi ảnh",
              "description": " \"Các câu trả lời chào hỏi, thắc mắc chung, chốt đơn, hoặc tư vấn KHÔNG đề cập màu sắc cụ thể\""
            },
            {
              "category": "Gửi ảnh màu cụ thể",
              "description": "Các câu trả lời có chứa từ khóa SHOW_IMAGE: theo sau bởi tên màu (ví dụ: SHOW_IMAGE:den, SHOW_IMAGE:trang"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        336,
        816
      ],
      "id": "35d7db2e-d00f-40d0-bb57-42feb93a0ef0",
      "name": "Text Classifier1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        1088
      ],
      "id": "1c0bf20d-a9e2-4073-ab12-ab16927d4493",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        592
      ],
      "id": "c9fce619-9536-45fa-ae77-3c1b7b3f933c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -640,
        1152
      ],
      "id": "4bf24f00-0e88-4b4a-85d4-e89a6294d0e5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f44524be-979f-4494-9948-7c814edfa0b2",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        816
      ],
      "id": "5538c7b7-f58f-4003-b547-ccf2b40b659f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Information Extractor1').item.json.output.color }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xVzepdXTkcYO581RuhiXnE-AxkXqULt2",
            "mode": "list",
            "cachedResultName": "Photos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xVzepdXTkcYO581RuhiXnE-AxkXqULt2"
          }
        },
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        832
      ],
      "id": "da5fc215-0486-406b-b100-998a75544e1f",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAL8rh1ws3MBPZCIuUGDufRu5flOcEssQc1tcmFcV378UjD2d9CmiaJgJbP93XgaKZARCiGcdEBh7q9kOZBJBJpXb1WksI6EaUUwz3opBzyWP1T5LXaphgx3CWYTCwVWZA6bJHwE2SUl9OkZBVpbNh3NmStJFSuIFHwqaZC1aIJUIlFMOZAjvDefpv9ZAnxBvYLWAaK0S8ryK5kTyZAgiqvMsjCN9KwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('User Information').item.json.senderID }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        592
      ],
      "id": "a19a88a0-6eb3-4f5c-ab4e-bba14867b46c",
      "name": "Send Text Messenger1"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "color",
              "description": "Đây là màu sắc của sản phẩm đề nghị dùng tiếng việt không dấu và không có dấu cách"
            },
            {
              "name": "output",
              "description": "Đây là đoạn chat chính đã bỏ các từ về màu sắc ra  .Tuyệt đối không có SHOW_IMAGE. Bắt buộc phải là tiếng Việt có dấu nha"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        784,
        832
      ],
      "id": "13a2b831-fff5-4615-9e10-7a0ad5bebba4",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        1104
      ],
      "id": "b3b00fb1-da8d-4d4c-8b30-82d268264050",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        832
      ],
      "id": "7c868f8f-5495-49ea-947c-ce16bbef5bd6",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAL8rh1ws3MBPZCIuUGDufRu5flOcEssQc1tcmFcV378UjD2d9CmiaJgJbP93XgaKZARCiGcdEBh7q9kOZBJBJpXb1WksI6EaUUwz3opBzyWP1T5LXaphgx3CWYTCwVWZA6bJHwE2SUl9OkZBVpbNh3NmStJFSuIFHwqaZC1aIJUIlFMOZAjvDefpv9ZAnxBvYLWAaK0S8ryK5kTyZAgiqvMsjCN9KwZDZD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\":\"{{ $('User Information').item.json.senderID }}\"}"
            },
            {
              "name": "message",
              "value": "{\"attachment\":{\"type\":\"image\",\"payload\":{}}}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "filedata",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2112,
        832
      ],
      "id": "9cafa74e-52a8-475f-93a7-c81e4ae2a918",
      "name": "Send Photo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAL8rh1ws3MBPZCIuUGDufRu5flOcEssQc1tcmFcV378UjD2d9CmiaJgJbP93XgaKZARCiGcdEBh7q9kOZBJBJpXb1WksI6EaUUwz3opBzyWP1T5LXaphgx3CWYTCwVWZA6bJHwE2SUl9OkZBVpbNh3NmStJFSuIFHwqaZC1aIJUIlFMOZAjvDefpv9ZAnxBvYLWAaK0S8ryK5kTyZAgiqvMsjCN9KwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('User Information').item.json.senderID }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $('Information Extractor1').item.json.output.output.replace(/([_*[\\]()])/g, '\\\\$1') }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        832
      ],
      "id": "ef001be7-4fbf-48b2-92db-86af2b0bdf28",
      "name": "Send Text Messenger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v3.zaloUserLogin",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "70f799d0-f8cf-4c3f-9e64-94f181f6a01c",
      "name": "Zalo Login Via QR Code1",
      "credentials": {
        "n8nApi": {
          "id": "6EX7O6ycy2VxV6Ex",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "includeSelfEvents": false
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUser",
      "typeVersion": 2,
      "position": [
        -1600,
        1584
      ],
      "id": "b00f55ae-28a6-448c-b6ce-21ba3d4e00aa",
      "name": "Zalo User Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "vjy6RyrRSXUtwqZs",
          "name": "Zalo Hieu +84852960233 - 2025-11-15T13:17:50.630Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $('Zalo User Trigger').item.json.data.uidFrom }}",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -240,
        1408
      ],
      "id": "8ad27df8-97ed-4258-926f-e10bea808170",
      "name": "Send a message",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "vjy6RyrRSXUtwqZs",
          "name": "Zalo Hieu +84852960233 - 2025-11-15T13:17:50.630Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $('Zalo User Trigger').item.json.data.uidFrom }}",
        "message": "={{ $('Information Extractor2').item.json.output.output }}",
        "attachmentsUrls": "={{ $json.url }}"
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        912,
        1600
      ],
      "id": "5bceb3cc-b4de-48ba-aa23-492902d694a4",
      "name": "Send a message1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "vjy6RyrRSXUtwqZs",
          "name": "Zalo Hieu +84852960233 - 2025-11-15T13:17:50.630Z"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        576,
        1600
      ],
      "id": "47fbff5d-43a3-47fb-8a10-5b94d6e0af47",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "xlDxDpbt6pawNoen",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.content }}",
        "options": {
          "systemMessage": "=Vai trò và phạm vi chung\nBạn là nhân viên tư vấn bán giày chuyên nghiệp của shop Lê Quốc Tùng Sport. Bạn sẽ tư vấn sản phẩm giày theo đúng thông tin trong tài liệu huấn luyện.\n\nQuy định giao tiếp\n- Luôn xưng là Em, bên Em hoặc Shop, Shop em\n- Gọi khách hàng là Quý Khách. Nếu xác định được giới tính, gọi là Anh/Chị.\n- Trả lời theo đúng ngôn ngữ mà khách hàng sử dụng.\n- Trả lời ngắn gọn, rõ ràng.\n\nQuy định về nội dung trả lời\n** Trước khi trả lời bắt buộc phải vào file google docs để xem thông tin tài liệu huấn luyện traindocx **.\n- Chỉ được sử dụng thông tin có trong tài liệu huấn luyện (traindocx). Không tự ý bịa thêm.\n- Nếu khách hỏi nội dung ngoài phạm vi, hãy xin số điện thoại (nếu chưa có) và nói: \"Dạ phần này sẽ có nhân viên chuyên môn liên hệ qua Zalo quý khách để trả lời ạ\".\n\n**QUY ĐỊNH QUAN TRỌNG VỀ HÌNH ẢNH:**\n- Khi khách hỏi về màu sắc cụ thể, PHẢI trả lời và kết thúc bằng mã SHOW_IMAGE.\n\n**DANH SÁCH MÀU VÀ MÃ CHÍNH XÁC (PHẢI TUÂN THỦ NGHIÊM NGẶT):**\n  • Màu đen → \"SHOW_IMAGE:den\"\n  • Màu đen trắng/đen-trắng/phối đen trắng → \"SHOW_IMAGE:dentrang\"\n  • Màu vàng → \"SHOW_IMAGE:vang\"\n  • Màu xám/màu ghi → \"SHOW_IMAGE:xam\"\n  • Màu xanh → \"SHOW_IMAGE:xanh\"\n\n**LƯU Ý:**\n- CHỈ dùng CHÍNH XÁC các mã trên (không viết hoa, không thêm dấu, không đổi chữ)\n- Nếu khách hỏi màu không có trong danh sách, trả lời: \"Dạ hiện shop có các màu: đen, đen trắng, vàng, xám, xanh. Quý khách quan tâm màu nào ạ?\"\n- Khi khách hỏi chung chung về sản phẩm (KHÔNG hỏi màu cụ thể), CHỈ mô tả bằng lời, KHÔNG gửi hình.\n\n**VÍ DỤ:**\n- Khách: \"Có màu đen không?\" → Trả lời: \"Dạ có ạ, giày màu đen rất đẹp và sang trọng ạ. SHOW_IMAGE:den\"\n- Khách: \"Xem màu đen trắng\" → Trả lời: \"Dạ shop có màu đen trắng rất phối hợp ạ. SHOW_IMAGE:dentrang\"\n- Khách: \"Giày này như thế nào?\" → Trả lời: \"Dạ giày có công nghệ Gore-Tex chống thấm nước...\" (KHÔNG có SHOW_IMAGE)\n**QUY ĐỊNH VỀ GỢI Ý TƯƠNG TÁC:**\n\nSau mỗi câu trả lời TƯ VẤN (chưa chốt đơn), PHẢI thêm **1 câu gợi ý duy nhất** theo đúng ngữ cảnh:\n\n---\n\n### **1. Sau khi giới thiệu sản phẩm chung (chưa show hình):**\n**BẮT BUỘC hỏi màu:**\n- \"Quý khách muốn xem màu nào ạ? Shop có đen, đen trắng, vàng, xám, xanh.\"\n\n---\n\n### **2. Sau khi show hình 1 màu (đã gửi SHOW_IMAGE):**\n**BẮT BUỘC hỏi size, KHÔNG hỏi màu khác:**\n- \"Màu này có size từ 39-45. Quý khách mang size bao nhiêu ạ?\"\n\n**⚠️ TUYỆT ĐỐI KHÔNG hỏi:** \"Quý khách có muốn xem thêm màu khác không ạ?\"\n\n---\n\n### **3. Sau khi khách nói size (đã biết màu + size):**\n**BẮT BUỘC chốt đơn ngay:**\n- \"Dạ màu [tên màu] size [số] shop còn hàng ạ. Quý khách có muốn đặt luôn để nhận ưu đãi giảm 50% không ạ?\"\n\nHOẶC\n- \"Giá hiện tại chỉ còn 2.100.000đ (giảm 50%), tặng kèm tất Nike 299k. Quý khách đặt luôn nhé?\"\n\n---\n\n### **4. Sau khi trả lời về tính năng/công nghệ:**\n**Kiểm tra trạng thái:**\n- Nếu **chưa show hình** → Hỏi màu (mục 1)\n- Nếu **đã show hình nhưng chưa biết size** → Hỏi size (mục 2)\n- Nếu **đã biết cả màu và size** → Chốt đơn (mục 3)\n\n---\n\n### **5. Sau khi xử lý từ chối (giá cao, suy nghĩ...):**\n- \"Quý khách có muốn đặt hàng để nhận quà tặng tất Nike 299k không ạ?\"\n\nHOẶC\n- \"Vậy Quý khách để lại số điện thoại, em sẽ có nhân viên tư vấn kỹ hơn qua Zalo ạ?\"\n\n---\n\n### **6. Khi khách còn phân vân (chưa quyết định):**\n- \"Quý khách để lại số điện thoại, em sẽ có nhân viên tư vấn kỹ hơn qua Zalo ạ?\"\n\n---\n\n## **LƯU Ý VỀ GỢI Ý:**\n\n- CHỈ thêm gợi ý khi **đang TƯ VẤN** (chưa có đủ SĐT + Email)\n- **KHÔNG** thêm gợi ý khi:\n  + Đã xác nhận đơn hàng (có đủ SĐT + Email)\n  + Đã gửi tài khoản thanh toán\n  + Khách chỉ nói cảm ơn/tạm biệt\n- Mỗi lần CHỈ gợi ý **1 câu duy nhất**, không gợi ý nhiều câu hỏi cùng lúc\n\n---\n\n## **QUY TẮC ƯU TIÊN (QUAN TRỌNG):**\n```\nTrình tự gợi ý PHẢI tuân theo:\n1. Chưa biết màu → Hỏi màu\n2. Đã biết màu + Chưa biết size → Hỏi size (KHÔNG hỏi màu khác)\n3. Đã biết màu + Đã biết size → Chốt đơn\n```\n\n---\n\n## **VÍ DỤ CỤ THỂ:**\n\n### **✅ ĐÚNG:**\n```\nKhách: \"Màu đen\"\nBot: \"Dạ màu đen rất sang trọng ạ. SHOW_IMAGE:den Màu này có size từ 39-45. Quý khách mang size bao nhiêu ạ?\"\n```\n\n### **❌ SAI:**\n```\nKhách: \"Màu đen\"\nBot: \"Dạ màu đen rất sang trọng ạ. SHOW_IMAGE:den Quý khách có muốn xem thêm màu khác không ạ?\"\n```\n\n**LÝ DO SAI:** Đã show màu rồi thì phải hỏi size, KHÔNG được hỏi màu khác.\n\n---\n\n## **BẢNG QUYẾT ĐỊNH NHANH:**\n\n| Trạng thái | Gợi ý | Ví dụ |\n|------------|-------|-------|\n| Chưa biết màu | Hỏi màu | \"Quý khách muốn xem màu nào ạ?\" |\n| Đã show hình → Chưa biết size | Hỏi size | \"Quý khách mang size bao nhiêu ạ?\" |\n| Đã biết màu + size | Chốt đơn | \"Quý khách đặt luôn nhận giảm 50% nhé?\" |\n| Khách từ chối/phân vân | Xin SĐT hoặc gợi ý quà | \"Quý khách để lại SĐT...\" |\n```\n\n---\n\n## **THÊM VÍ DỤ ĐẦY ĐỦ:**\n```\nCâu 1:\nKhách: \"Bên em có sản phẩm gì?\"\nBot: \"Dạ bên em có Giày Nike Pegasus 41 Gore-Tex... \n      → Quý khách muốn xem màu nào ạ? Shop có đen, đen trắng, vàng, xám, xanh.\"\n      (Chưa biết màu → Hỏi màu)\n\nCâu 2:\nKhách: \"Màu đen\"\nBot: \"Dạ màu đen rất sang trọng ạ. SHOW_IMAGE:den \n      → Màu này có size từ 39-45. Quý khách mang size bao nhiêu ạ?\"\n      (Đã show hình → Hỏi size, KHÔNG hỏi màu khác)\n\nCâu 3:\nKhách: \"Size 42\"\nBot: \"Dạ màu đen size 42 shop còn hàng ạ. \n      → Quý khách có muốn đặt luôn để nhận ưu đãi giảm 50% không ạ?\"\n      (Đã biết màu + size → Chốt đơn)\n\nCâu 4:\nKhách: \"Giày này chống nước không?\" (đã biết màu đen, chưa biết size)\nBot: \"Dạ giày có công nghệ Gore-Tex chống thấm nước 100% ạ.\n      → Quý khách mang size bao nhiêu để em check kho ạ?\"\n      (Đã biết màu → Hỏi size)\n\n**LƯU Ý VỀ GỢI Ý:**\n- CHỈ thêm gợi ý khi đang TƯ VẤN (chưa có đủ SĐT + Email)\n- KHÔNG thêm gợi ý khi:\n  + Đã xác nhận đơn hàng (có đủ SĐT + Email)\n  + Đã gửi tài khoản thanh toán\n  + Khách chỉ nói cảm ơn/tạm biệt\n- Mỗi lần CHỈ gợi ý 1 câu, không gợi ý nhiều câu hỏi cùng lúc\n\nQuy trình khi khách muốn mua hàng\n1. Xin số điện thoại nếu chưa có.\n2. Xin thêm email, yêu cầu email phải là Gmail.\n3. Khi đã có đầy đủ thông tin, xác nhận đơn hàng:\n   - Tên sản phẩm: Giày chạy bộ Nike Pegasus 41 Gore-Tex\n   - Giá: 2.100.000 VNĐ (giảm 50%)\n   - Quà tặng: Tất thể thao Nike trị giá 299k\n4. Sau khi báo giá thì gửi luôn số tài khoản cho khách hàng thanh toán:\n   \"Em xin phép gửi tài khoản thanh toán dưới đây ạ. \n   **Ngân hàng:** ACB\n   **Số tài khoản:** 10556147\n   **Chủ tài khoản:** LE QUOC TUNG\n   **Nội dung chuyển khoản:** Tên + SĐT (Ví dụ: LE VAN NAM 0922111333)\"\n\nThông tin chi tiết về sản phẩm\nNội dung lấy từ file google docs có tên là traindocx gồm thông tin sản phẩm, ưu điểm, giá bán, khuyến mãi, quy trình đặt hàng, xử lý từ chối và kịch bản chăm sóc khách."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1264,
        1584
      ],
      "id": "12fe6778-196e-46df-b7bb-9dc9baae54ec",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.output }}",
        "categories": {
          "categories": [
            {
              "category": "Không gởi ảnh",
              "description": " \"Các câu trả lời chào hỏi, thắc mắc chung, chốt đơn, hoặc tư vấn KHÔNG đề cập màu sắc cụ thể\""
            },
            {
              "category": "Gửi ảnh màu cụ thể",
              "description": "Các câu trả lời có chứa từ khóa SHOW_IMAGE: theo sau bởi tên màu (ví dụ: SHOW_IMAGE:den, SHOW_IMAGE:trang"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -768,
        1584
      ],
      "id": "db97953f-1606-4c6f-8e46-65848e9de0d4",
      "name": "Text Classifier2"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "color",
              "description": "Đây là màu sắc của sản phẩm đề nghị dùng tiếng việt không dấu và không có dấu cách"
            },
            {
              "name": "output",
              "description": "Đây là đoạn chat chính đã bỏ các từ về màu sắc ra  .Tuyệt đối không có SHOW_IMAGE. Bắt buộc phải là tiếng Việt có dấu nha"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -272,
        1600
      ],
      "id": "860b6755-8209-4fa6-90a1-65f209d619cc",
      "name": "Information Extractor2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1440,
        1776
      ],
      "id": "1c1cb754-e34e-4d5e-be1b-cae013646bc8",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        1792
      ],
      "id": "2e8d2d5a-79f9-4929-8936-d9cd0a0ed0e1",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        1824
      ],
      "id": "a3d1f780-ae82-4f9d-8cd0-e7e5871aa653",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "b6rxKFJAZ34SgUMO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Information Extractor2').item.json.output.color }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xVzepdXTkcYO581RuhiXnE-AxkXqULt2",
            "mode": "list",
            "cachedResultName": "Photos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xVzepdXTkcYO581RuhiXnE-AxkXqULt2"
          }
        },
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        1600
      ],
      "id": "0f427a66-202c-4b34-be1d-6a5cd6b43065",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        1600
      ],
      "id": "450d2553-6023-4849-a520-340c6b2c0f87",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oxIegc4YUZiOzJrj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1zxfwo_ARarVzS83qoVpQP4X9KxCh6wttTE4r95Z7SGE/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -1040,
        1776
      ],
      "id": "c6c4d310-ca13-4b85-bda8-4d495ee61013",
      "name": "traindocx",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CkzjNekDa4g5s1Gt",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data.uidFrom }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1232,
        1840
      ],
      "id": "a55e880b-7d12-4332-9010-cca4df8d92fb",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.senderID}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        1024
      ],
      "id": "e79b8a17-e5c5-420d-8753-62db17b4409a",
      "name": "Simple Memory2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Information": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Text Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier1": {
      "main": [
        [
          {
            "node": "Send Text Messenger1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Messenger1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Send Text Messenger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Messenger": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo User Trigger": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Text Classifier2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor2": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "traindocx": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c10e237-1b8e-45ad-9fa0-d826fe25a903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4b3ea1b3d09e3180d184fca687976b03162e48b2717c66faa7c750a34ed7d88"
  },
  "id": "ZjPg6qQ7WzCcxYbV",
  "tags": []
}